html
{
    background-color: #e6e9e9;
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -o-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -moz-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -ms-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body
{
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3
{
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    
}

h2
{
 margin-top: 1.3em;   
}

img
{
 background: transparent;
    border: 5px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;   
}
#main
{
    
}

header
{
  
}

#banniere
{
    display: inline-block;
}
#logo, #banniere h1
{
 display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
}
#register
{
    display: inline-block;
    width: 400px;
    margin: auto;
    text-align: right;
    
}

#register label
{
    
}

#navigationDansLeSite
{
    display: inline-block;
    margin: auto;
    text-align: right;
}

#navigationDansLeSite ul
{
    list-style-type: none;
}

#navigationDansLeSite li
{
    display: inline-block;
    margin-right: 15px;
}
#navigationDansLeSite a
{
    font-size: 1.3em;
    color: black; 
    padding-bottom: 3px;
    text-decoration: none;
}

#navigationDansLeSite a:hover
{
    color: red;
    border-bottom: 3px solid red;
}
#corps
{

}

#corps #slydeNouveaute
{
    
    border:10px solid rgba(0, 0, 0, 0.12);
    float:left;
    width: 45%;
    
}

#corps #listeDesCategories
{
    border:  10px solid rgba(0, 0, 0, 0.12);
    float: right;
    width: 45%;
}

#listeDesCategories ul
{
    list-style-type: none;
}

#listeDesCategories li
{
    display: inline-block;
    margin-right: 15px;
}

#listeDesCategories a
{
    font-size: 1em;
    color: black; 
    padding-bottom: 3px;
    text-decoration: none;
}

#listeDesCategories a:hover
{
    color: red;
    border-bottom: 3px solid red;
}
#footer
{
    background-color: #e6e9e9;
    display: inline-block;
    width: 100%;
    text-align: center;
}